*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    padding: 8px 10px;
    background-color: #004080;
    top: 0;
    
}
.leftnav{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 30px;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 60px;
    width: 100%;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 70%;
}
.nav-list li a:hover{
    color: yellow;
}
.rightnav{
    display: flex;
    gap: 20px;
}
.rightnav button{
    padding: 12px 16px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.rightnav button:hover{
    background-color: orange;
}

.intro{
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: rgb(68, 153, 209);
    padding: 40px 20px;
    padding-right: 80px;
}
p{
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
}
.welcome{
    text-align: center;
    font-style: italic;
    font-size: larger;
    margin-bottom: 20px;
}
.description{
    text-align: center;
}
.getstarted{
    text-align: center;
    margin-top: 25px;
}
.btn{
    color: rgb(8, 31, 36);
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: 100;
    padding: 10px 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: yellow;
}
.leftintro{
    flex: 1;
    padding: 100px;
    margin-right: 20px;
    
}
.rightpic{
    background-color: aliceblue;
    align-items: center;
    display: flex;
    justify-content: center;
   overflow: hidden;
     border-radius: 20px;
}
.laptop{
    width: 90%;
    max-width: 400px;
     padding: 20px 30px;
}
.services{
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 40px 20px 40px 40px;
    padding-right: 80px;
}
.left{
    display: flex;
     overflow: hidden;
     margin: 0;
     border: none;
}

.tech{
    width: 40%;
    margin: 0;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    padding-bottom: 100px;
    overflow: hidden;
    
}
.worker{
    width: 50%;
    padding-top: 100px;
    margin: 0;
 
    object-fit: cover;
}
.worker {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.heading{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    padding-bottom: 30px;
}
.des{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 2;
    font-size: large;
}
.about{
    background-color:  rgb(68, 153, 209);
    text-align: center;
    padding: 40px 50px;
    padding-bottom: 5%;
}
.headabt{
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: azure;
}
.abt{
    line-height: 2;
    font-size: large;
}
.how-it-works{
    padding: 40px 50px;

}
.hiw{
    text-align: center;
    color: black;
     padding-top: 2%;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
}
.list{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    line-height: 2;
    padding-bottom: 5%;
    margin-left: 2%;
}
.contact h3{
    text-align: center;
    color: aliceblue;
    margin-bottom: 10px;
}
.contact h2{
    text-align: center;
    color: aliceblue;
    flex-basis: 100%;
}
.locm.office{
    color: aliceblue;
    padding-bottom: 5%;
}

.contact{
    background-color:  #0f345c;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 60px 20px;
    gap: 80px;
     flex-wrap: wrap;
}
.contact p {
    color: aliceblue;
    text-align: center;
    font-size: large;
}

.techhelp{
    height: 5vh;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
.signUp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(133, 162, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup, .login{
    text-decoration: none;
}
.sign{
    background-color: #0f345c;
    padding: 60px 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    
    
}
.sign h2{
    text-align: center;
    flex-wrap: 100%;
    color: #d7e4f1;
    margin-bottom: 20px;
}
.para{
    text-align: center;
    color: #87c7ec;
    margin-bottom: 30px;
}
.sign label{
    display: flex;
    font-weight: 20;
    color: white;
    margin-bottom: 30px;
    gap: 8px;
}

.sign input[type="email"] , input[type = "password"],input[type = "pass"]{
     width: 100%;      
    height: 35px;      
    box-sizing: border-box; 
    padding: 5px;
    margin-bottom: 10px; 
    border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #a5a5f7;
  border-color: white;
  min-width: 100px;
}